/* 
    GENERAL
*/

* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width:820px) {
    .big-screen {
        display: none;
    }

    .small-screen {
        display: block;
    }
}

@media only screen and (min-width: 821px) {
    .big-screen {
        display: block;
    }

    .small-screen {
        display: none;
    }
}

div {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(173, 173, 173);
}

li {
    display: inline-block;
}

.row {
    width: 100%;
    display: block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* 
    HEADER
*/

nav {
    width: 100%;
    height: 8%;
    background: rgb(51, 51, 51);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-container {
    position: absolute;
    left: 2vw;
    width: 80%;
    -webkit-user-select: none;
    user-select: none;
}

.hamburger-container input {
    position: absolute;
    opacity: 0;
    z-index: 2;
    width: 5vw;
    height: 100%;
    -webkit-touch-callout: none;
    cursor: pointer;
}

.hamburger-line {
    position: relative;
    display: block;
    margin-right: 0;
    margin-bottom: .8vh;
    height: .4vh;
    width: 5vw;
    background-color: white;
    border-radius: 2px;
    z-index: 1;
    transform-origin: center;
    transition: opacity 0.2s linear, translate 0.5s ease-out, rotate 0.5s ease-out, transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#hamburger-line-3 {
    margin-bottom: 0;
}

.hamburger-menu {
    width: 100%;
    background-color: rgb(51, 51, 51);
    padding-top: 18vh;
    position: absolute;
    top: -12vh;
    left: -2vw;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
} 

.hamburger-menu li {
    min-height: 5vh;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
}

.hamburger-container input:checked ~ .hamburger-menu {
    transform: scale(1, 1);
    opacity: 1;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2)
}

.hamburger-container input:checked ~ span:nth-child(2) {
    transform: translate(0, 1.2vh) rotate(-45deg);
}

.hamburger-container input:checked ~ span:nth-child(3) {
    transform: translateX(-10vw);
}

.hamburger-container input:checked ~ span:nth-child(4) {
    transform: translate(0, -1.2vh) rotate(45deg);
}

.hamburger-social {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.hamburger-social a {
    font-size: .8em;
}
.small-logo {
    color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 2em;
}

/* 
    BODY
*/

.image-container {
    width: 100%;
    height: 92%;
    background-image: url("../img/294.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}
.website-title {
    text-align: center;
}
.title {
    color: rgb(51, 51, 51);
    font-size: 3em;
}
.big-element {
    width: 50%;
    height: 50%;
    float: left;
}
.big-element-title {
    font-size: 1.8em;
    text-align: center;
}
.small-element {
    height: 50%;
    width: 50%;
    float: left;
}
#se1 {
    background-image: url("../img/compass.jpg");
}
#se2 {
    background-image: url("../img/rope.jpg");
}
#se3 {
    background-image: url("../img/thermos.jpg");
}
#se4 {
    background-image: url("../img/backpack.jpg");
}

#be3 {
    background-image: url("../img/294.jpg");
}
#be1, #be4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    FOOTER
*/

footer {
    background: rgb(51, 51, 51);
    height: 50vh;
    width: 100%;
    display: flex;
    flex-basis: 3vw;
    justify-content: flex-end;
    align-items: flex-end;
}

.freepik-link {
    margin: 1vw;
}